* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


a:hover {
    color: #ffebbb;
    -webkit-text-stroke: 1.5px #967E76;
}    

nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    background-color: #fcfaf6;
    font-size: clamp(.95rem, 1.5vw, 1.45rem);
    width:100%
}

nav a {
    color: #967E76;
}

/* @font-face {
    font-family: purpleSmile;
    src: url(../font/Purple\ Smile.ttf);
} */

body {
    font-family: purpleSmile, Arial, Helvetica, sans-serif;
    background-color: #fcfaf6;
}

hr{
    height: 1px;
    background-color: #967e765d;
    border: none;
}

h1 {
    position: relative;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center; 
    /* text-shadow: 0.3vw 0.25vw #bda8a1; */
    font-size: 3.2vw;
    color: #43312b;
    margin: 5%;
}

.problem-statement {
    margin: 5%;
    font-size: 1.8vw;
    color: #a53b17;
    font-style: italic;
}

.video1 {
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
    font-style: italic;
    color: #4d4441;
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 1.25vw;
}

div {
    margin: 5%;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -40px;
    margin-bottom: 30px;
  }
  
.row img {
/* flex: 1 0 33%; */
    margin: 5px;
}  

h2 {
    font-size: 2.2vw;
    color: #43312b;
}

p {
    margin-top: 4%;
    font-size: 1.35vw;
    color: #574642;
}

li {
    margin-top: 1%;
    color: #574642;
    font-size: 1.4vw;
}

.process {
    margin: 5%;
}

h3 {
    font-size: 1.9vw;
    color: #a53b17;
    font-style: italic;
    text-align: center;
    margin-top: -3%;
    position: relative;
}

h3::before, h3::after {
    content: "";
    display: block;
    height: 2.5px;
    width: 15%;
    background-color: #4d4441;
    position: absolute;
    top: -20px;
    margin-left: 42%;
}

h3::after {
top: auto;
bottom: -20px;
}

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

section p {
    margin-bottom: 10%;
    font-size: 1.35vw;
    color: #574642;
}

h4 {
    font-size: 1.6vw;
    color: #6c5a55;
    margin-top: 8%;
    font-weight: bolder;
}

.decision p {
    margin-top: 3%; 
    margin-bottom: 3%;
    font-size: 1.35vw;
    color: #574642;
}

.conclusion {
    margin-top: -5%;
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 3%; 
    left: 42%;
    color: #9d9694;
    font-size: 1.1vw;
} 